.Form {
  display: flex;
  flex-direction: column;
  text-align: center;
  &_Buttons {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    padding-top: 1rem;
    &_Button {
      flex: 1;
      margin: 0 0.1rem;
    }
  }
}

option {
  text-align: center;
}
